// colors
$darkGreen: #1E86FF;
$green: #044288;
$lightGreen: #00fca0;
$veryLightGreen: #00000006;
$darkGrey: #828282;
$white: #ffffff;
$lightGrey: #f2f2f2;

// font family
$fontFamily: "Andada Pro", serif;
$lightFont: 600;
$heavyFont: 800;

// fonts
$logoFont: calc(1.25 * 31.42px);
